@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('../fonts/Inter.var.woff2?v=3.13') format('woff2');
}

@tailwind base;

@tailwind components;

@tailwind utilities;
